* {
    box-sizing: border-box;
}
.container{
    position:relative;
    width:100%;
}
.container:after{
    content:"";
    display:table;
    clear:both;
}
.containerLeft{
    position:relative;
    text-align: center;
    color: black;
    width:35%;
    float:left;
}
.containerRight{
    float:left;
    width:50%;
}
.containerMiddle{
    float:left;
    width:15%;
}
.content{
    height:100px;
    width:100%;
    text-align: right;
}
.words{
    text-align:center;
    float:left;
    width:45%;
}
.button{
    text-align: right;
    float:right;
    width:45%;
}
.monthclick{
    position:relative;
    text-align: center;
    width:24%;
    height:100px;
    outline: 5px solid royalblue;
    float:left;
    padding:5px;
}
.monthname{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: -.5px 0 white, 0 .5px white, .5px 0 white, 0 -.5px white;
}
h3{
    color:red;
}